/* Navbar Styling */
.landing-navbar {
    background-color: #333;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar-item {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .navbar-item:hover {
    background-color: #444;
  }
  
  .social-links {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #1da1f2; /* Twitter color */
  }
  
  /* Responsive Design for smaller screens */
  @media screen and (max-width: 768px) {
    .landing-navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .navbar-menu {
      flex-direction: column;
      gap: 10px;
    }
  
    .social-links {
      margin-top: 15px;
      gap: 12px;
    }
  }
  